<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="{% static 'css/bootstrap.css' %}" />
    </head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                Bienvenido, {{ username }}
            </div>
        </div>
        <div class="row">
            <div id="map" style="height:500px;width:500px"></div>
        </div>
    </div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 11.034297721206263, lng: -74.8299793243408},
                scrollwheel: false,
                zoom: 8
            });
            
            markers = []
            var data = {}
            
            {% for route_data in route_pings %}
            data = { 
                "marker": new google.maps.Marker({
                    map: map,
                    position: {lat: {{ route_data.ping.position.latitude|stringformat:"f" }}, lng: {{ route_data.ping.position.longitude|stringformat:"f" }} },
                    title: '{{ route_data.route.origin.name }} - {{ route_data.route.destination.name }}'
                }),
                "route": {
                    "id": {{ route_data.route.id }}
                }
            }
            markers.push(data);
            
            var infowindow = new google.maps.InfoWindow({
                content: '<a target="_blank" href="{{ route_data.route.get_admin_url }}">{{ route_data.route.origin.name }} - {{ route_data.route.destination.name }}</a>'
            });
            
            google.maps.event.addListener(data.marker, 'click', (function () {
                infowindow.open(map, data.marker);
            }));
            {% endfor %}            

        }
    
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap"
    async defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>