<html>
    <head>
        {% load static %}
        <link href="{% static 'css/bootstrap.css' %}" />
    </head>
    <body>
        <div class="container-fluid">
            <form method="post">
                <input type="text" placeholder="Nombre de usuario" />
                <input type="password" placeholder="Contraseña" />
                <input type="submit" value="Entrar" />
            </form>
        </div>
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>