<html>
    <head>
        {% load static %}
        <link href="{% static 'css/bootstrap.css' %}" />
    </head>
    <body>
        <div class="container-fluid">
            {% if login_error %}
                Nombre de usuario o contraseña incorrectos <br />
            {% endif %}
            <form method="post"> {% csrf_token %}
                <input type="text" name="username" placeholder="Nombre de usuario" />
                <input type="password" name="password" placeholder="Contraseña" />
                <input type="submit" value="Entrar" />
            </form>
        </div>
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>